<!doctype html5>
<html class="no-js" lang="en">


<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>SamajesjeDigho | Blog</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.jpg">

  <!-- CSS
    ============================================ -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/css/blog/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/blog/vendor/font-awesome.css">
  <link rel="stylesheet" href="/assets/css/blog/vendor/slick.css">
  <link rel="stylesheet" href="/assets/css/blog/vendor/slick-theme.css">
  <link rel="stylesheet" href="/assets/css/blog/vendor/base.css">
  <link rel="stylesheet" href="/assets/css/blog/plugins/plugins.css">
  <link rel="stylesheet" href="/assets/css/blog/style.css">

</head>

<body>
  <div class="main-wrapper">
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>


    <!-- ================================================== -->
    <!--              Start Post Single Wrapper             -->
    <!-- ================================================== -->
    <div class="post-single-wrapper axil-section-gap bg-color-white">
      <div class="container">
        
        {{ content }}

      </div>
    </div>
    <!-- End Post Single Wrapper  -->

    {% include blog_footer.html %}

    <a id="backto-top"></a>

  </div>

  <!-- JS
============================================ -->
  <!-- Modernizer JS -->
  <script src="/assets/js/blog/vendor/modernizr.min.js"></script>
  <!-- jQuery JS -->
  <script src="/assets/js/blog/vendor/jquery.js"></script>
  <!-- Bootstrap JS -->
  <script src="/assets/js/blog/vendor/bootstrap.min.js"></script>
  <script src="/assets/js/blog/vendor/slick.min.js"></script>
  <script src="/assets/js/blog/vendor/tweenmax.min.js"></script>
  <script src="/assets/js/blog/vendor/js.cookie.js"></script>
  <script src="/assets/js/blog/vendor/jquery.style.switcher.js"></script>

  <!-- Main JS -->
  <script src="/assets/js/blog/main.js"></script>

</body>


</html>